{% extends "main/base.html" %}

{% block content %}

  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">새 비밀번호 확인</h2>
		<hr>
        <p>새 비밀번호를 입력해주세요.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.new_password1.error }}
            {{ form.new_password2.error }}
            
            <!-- 조단희가 수정한 부분 -->
            새 비밀번호 {{ form.new_password1 }}
            <br>
            비밀번호 확인 {{ form.new_password2 }}
            <!-- 조단희가 수정한 부분 끝 -->
            <br>                   
            <button class="btn btn-primary" type="submit">변경하기</button>
        </form>
    </div>

{% endblock %}