{% extends "main/base.html" %}

{% block content %}      
	<!--Reset Password-->
  <div id="wrap">
    <div id="top">
      <svg id="arrow" data-name="레이어 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 110" onclick = "location.href = '{% url 'common:login' %}'">
        <g id="_레이어_1-2" data-name="레이어 1">
          <polyline class="arrow-cls-1" points="65 105 35 80 5 55 35 30 65 5"/>
        </g>
      </svg>
      <p>비밀번호 재설정</p>
    </div>
    <div class="container p-5">
       <form method="POST" id="settingform">
        <p>비밀번호를 잊으셨나요?<br><br>
          이메일을 적으시면<br>새 비밀번호를 설정할 수 있도록 <br>
          도와드리겠습니다.<br><br></p>
           {% csrf_token %}
           {% include "form_errors.html" %}
           <!-- 조단희가 수정한 부분 --> 
           <!-- 아래가 <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"> 와 같다고 합니다..-->
           {{ password_reset_form.email }}
           <!-- 조단희가 수정한 부분 끝 -->   	                
           <button class="btn btn-primary" type="submit">이메일 보내기</button>
       </form>
   
   </div> 
  </div>
	

{% endblock %}