{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/common.css' %}?after">
    <link rel="stylesheet" href="{% static 'css/svg.css' %}?after">
    <link rel="stylesheet" href="{% static 'css/login.css' %}?after">
    <title>Document</title>
</head>
<body>
  <div id="wrap">
    <svg id="logo_id" data-name="레이어 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 385.6 636.8">
      <g id="_레이어_1-2" data-name="레이어 1">
        <path class="logo_3" d="m362.8,365.6c15.2,25.6,22.8,57.08,22.8,94.4,0,35.2-8,66.14-24,92.8-16,26.66-38.94,47.33-68.8,62-29.88,14.66-64.54,22-104,22-35.74,0-68-6.94-96.8-20.8-28.8-13.88-51.34-33.34-67.6-58.4C8.12,532.54,0,503.74,0,471.2v-25.6h102.4v18.4c0,21.88,7.86,39.34,23.6,52.4,15.72,13.07,35.6,19.6,59.6,19.6,28.8,0,51.2-7.46,67.2-22.4,16-14.92,24-34.92,24-60,0-30.4-9.34-53.86-28-70.4-18.68-16.53-45.6-24.8-80.8-24.8h-28.8v-91.2h28.8c33.6,0,59.2-7.46,76.8-22.4,17.6-14.92,26.4-36.52,26.4-64.8,0-23.46-7.74-42.53-23.2-57.2-15.47-14.66-36.28-22-62.4-22-24,0-43.88,6.54-59.6,19.6-15.74,13.07-23.6,30.27-23.6,51.6v20H0v-26.4c0-32.52,8.12-61.32,24.4-86.4,16.26-25.06,38.66-44.53,67.2-58.4C120.12,6.94,151.72,0,186.4,0c59.2,0,106.26,15.88,141.2,47.6,34.93,31.74,52.4,74.8,52.4,129.2,0,30.94-7.34,58.28-22,82-14.68,23.74-34.28,40.4-58.8,50,27.2,12.28,48.4,31.2,63.6,56.8Z"/>
      </g>
    </svg>
    <div class="container my-3">
        <form method="post" action="{% url 'common:signup' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="mb-3">
                <label for="username" id="label_txt">닉네임</label>
                <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="password1" id="label_txt">비밀번호</label>
                <input type="password" class="form-control" name="password1" id="password1"
                       value="{{ form.password1.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="password2" id="label_txt">비밀번호 확인</label>
                <input type="password" class="form-control" name="password2" id="password2"
                       value="{{ form.password2.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="email" id="label_txt">이메일</label>
                <input type="text" class="form-control" name="email" id="email"
                       value="{{ form.email.value|default_if_none:'' }}">
            </div>

            <div id="popup3">
              <svg id="agreeCross" data-name="레이어 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <g id="_레이어_1-2" data-name="레이어 1">
                  <g>
                    <line class="cross-cls-1" x1="5" y1="5" x2="55" y2="55"/>
                    <line class="cross-cls-1" x1="55" y1="5" x2="5" y2="55"/>
                  </g>
                </g>
              </svg>
              <div class="mb-3" id="agreePopupTXT" style="margin-top: 18%;">
                <label for="agree_terms" id="agree_label_txt">이용약관</label>
                  <div class="div" style="overflow-y: scroll; height:60%">
                    {% include "common/agree1.html" %}
                  </div>
                <div id="agreeCheck">
                  <input type="checkbox" name="agree_terms" id="agree_terms"><label for="agree_terms"></label><p>동의</p>
                </div>
              </div>
              <div class="mb-3" id="agreePopupTXT">
                <label for="agree_marketing" id="agree_label_txt">개인정보처리방침</label>
                  <div class="div" style="overflow-y: scroll; height:60%;">
                    {% include "common/agree2.html" %}
                  </div>
                <div id="agreeCheck">
                  <input type="checkbox" name="agree_marketing" id="agree_marketing"><label for="agree_marketing"></label><p>동의</p>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">동의 후 가입하기</button>
            </div>
            
            <div class="btn" id="agreebtn">생성하기</div>
        </form> 
    </div>
  </div>
</body>
</html>
<script>
  let popupShow = document.querySelector("#agreebtn");
    popupShow.addEventListener("click", function(){
      console.log(1);
      const popup3 = document.getElementById("popup3").style.display = "block";
    })
  
    let close2 = document.querySelector("#agreeCross");
    close2.addEventListener("click", function(){
      const popup3 = document.getElementById("popup3").style.display = "none";
    })
  </script>